div {
	border: 1px solid black;
	margin: 5px;
}
  .child1 {
  	display: none;
  }
  h1 {
  	display: none;
  }
  .right .right p
   {
  	display: none;
  }
  .right .right img
  {
  	display: none;
  }